$color-01:rgba(#FBFAF1,1);
$color-01-01:rgba(#FBFAF1,0.65);
$color-01-02:rgba(#FBFAF1,0.5);
$color-02:rgba(#E1DEC8,1);
$color-03:rgba(#D6B86C,1);
$color-03-01:rgba(#CDD1BE,0.5);
$color-04:rgba(#B72834,1);
$color-05:rgba(#2E200D,1);
$color-05-01:rgba(#2E200D,0.3);
$color-06:rgba(#C4BDBC,1);
$color-06-01:rgba(#C4BDBC,0.3);
$color-07:rgba(#EDF0E3, 1);
$color-07-01:rgba(#EDF0E3, .97);
$color-08:rgba(#252222,1);
$color-08-01:rgba(#252222,.9);
$color-08-02:rgba(#252222,.5);
$color-09:rgba(#574240,1);
$color-10:rgba(#A9AD9B,1);
$color-10-01:rgba(#A9AD9B,.5);
// $color-11:rgba(#FBF7F6, 1);
$color-11:rgba(#FFFCFC, 1);