$color-01:rgba(#FBFAF1,1);
$color-01-01:rgba(#FBFAF1,0.65);
$color-01-02:rgba(#FBFAF1,0.5);
$color-02:rgba(#E1DEC8,1);
$color-03:rgba(#D6B86C,1);
$color-03-01:rgba(#D6B86C,0.8);
$color-04:rgba(#B72834,1);
$color-05:rgba(#2E200D,1);
$color-05-01:rgba(#2E200D,0.25);
