.image-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#tour01{
    background-image: url(../images/img_tour01.jpg);
}
#tour02{
    background-image: url(../images/img_tour02.jpg);
}
#tour03{
    background-image: url(../images/img_tour03.jpg);
}
#tour04{
    background-image: url(../images/img_tour04.jpg);
}

#special01{
    background-image: url(../images/img_special01.jpg);
}
#special02{
    background-image: url(../images/img_special02.jpg);
}
#special03{
    background-image: url(../images/img_special03.jpg);
}
#special04{
    background-image: url(../images/img_special04.jpg);
}
@media screen and (min-width:1025px){
    .bus-content{
        background-image: url(../images/bus_station_blue.svg);
        background-repeat:no-repeat;
        background-size:cover;
    }
}