.img-group{
    .s-img{
        background-image: url(../images/top_img2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        animation-name: move;
        animation-duration: 25s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
}
@keyframes move {
    50% { background-position: 80%};
    100% { background-position: top center};
}

.image-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#tour01{
    background-image: url(../images/img_tour01.jpg);
}
#tour02{
    background-image: url(../images/img_tour02.jpg);
}
#tour03{
    background-image: url(../images/img_tour03.jpg);
}
#tour04{
    background-image: url(../images/img_tour04.jpg);
}

#special01{
    background-image: url(../images/img_special01.jpg);
}
#special02{
    background-image: url(../images/img_special02.jpg);
}
#special03{
    background-image: url(../images/img_special03.jpg);
}
#special04{
    background-image: url(../images/img_special04.jpg);
}

@media screen and (max-width:743px) {
    .bus-content{
        background-repeat:no-repeat;
        background-size:cover;
    }
    #feature1{
        background-image: url(../images/img-palace_w.jpg);
        background-position:15%;
    }
    #feature2{
        background-image: url(../images/img-audio_w.jpg);
        background-position:bottom center;
    }
    #feature3{
        background-image: url(../images/img-hitecker_w.jpg);
        background-position:15%;
    }
    #feature4{
        background-image: url(../images/img-trolly_w.jpg);
        background-position:center center;
    }
    .bus-feature-group{
        background-color: $color-01-01;
    }
}

@media screen and (min-width:744px) and (max-width:1024px){
    .bg-img{
        background-repeat:no-repeat;
        background-size:cover;
        // background-position:bottom center;
    }
    #feature1{
        .bg-img{
            background-image: url(../images/img-palace_w.jpg);
        }
    }
    #feature2{
        .bg-img{
            background-image: url(../images/img-audio_w.jpg);
            background-position: 25% 65%;
        }
    }
    #feature3{
        .bg-img{
            background-image: url(../images/img-hitecker_w.jpg);
            background-position: 25% 65%;
        }
    }
    #feature4{
        .bg-img{
            background-image: url(../images/img-trolly_w.jpg);
            background-position: 25% 65%;
        }
    }
}

@media screen and (min-width:1025px){
    .contents-top{
        .slider-area{
            background-image: url(../images/top_img2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            animation-name: move;
            animation-duration: 25s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
    .img-group{
        .s-img{
            background-image: none;
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: top center;
            // animation-name: move;
            // animation-duration: 25s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
        }
    }
    .bus-content{
        background-image: none;
    }
    .bus-feature-group{
        background-image: url(../images/bus_station_blue.svg);
        background-repeat:no-repeat;
        background-size:cover;
    }

}