.contents-top{
    // padding-top:50px;
    min-width: 320px;
    margin-bottom:100px;
    
    .slider-area{
        // border-radius:0 0 10px 10px;
        overflow: hidden;

        .img-group{
            // display:flex;
            // align-items: center;
            .s-img{
                position: relative;
                flex-shrink: 0;
                width:100%;
                height:370px;

                &::before{
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    content:'';
                    display:block;
                    width:100%;
                    height:100%;
                    background-color: rgba(#2E200D, .5);
                }

                .title{
                    position: absolute;
                    top:200px;
                    left:5%;
                    display:flex;
                    flex-direction:column;
                    color:$color-01;
                    font-size: 20px;
                    font-family: 'LeferiPoint-BlackA';

                    .bold{
                        font-size: 24px;
                        font-weight: 600;
                        font-family: 'SuseongDotum';
                    }
                    .br{
                        display:block;
                    }
                }
            }
        }
    }

    .news-area{
        margin-bottom:100px;
        position: relative;
        .news-icon{
            position: absolute;
            top:-50px;
            left:15px;
            display:block;
            width:40px;
            height:40px;
            border-radius:100%;
            background-color: $color-05;
            text-align: center;
            box-shadow: 0 0 7px black;
            opacity:.9;
            cursor: pointer;
            img{
                padding-top:3px;
                width:85%;
            }
            &:hover{
                background-color: $color-04;
                opacity:.9;
                transition:0.5s;
            }
        }
        .news-group{
            position: absolute;
            padding:10px;
            width:78%;
            max-width:350px;
            background-color: rgba(white, .83);
            border-radius: 10px;
            box-shadow: 0 0 6px black;
            opacity:0;
            transition:1s;
            z-index:-1;
            @media screen and (max-width:743px) {
                top:-80px;
                left:65px;
            }
            &.is-open{
                opacity: 1;
                transition:1s;
                z-index:1;
            }

            .info-group{
                margin:auto;
                width:95%;
                display:flex;
                justify-content: space-between;
                align-items: center;
                .text-group{
                    font-family: 'NanumBarunGothic';
                    letter-spacing: 1.5px;
                    .title{
                        margin-bottom:5px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .txt{
                        font-size: 12px;
                        word-break: keep-all;
                    }
                }
                .btn-more{
                    a{
                        position: relative;
                        display:block;
                        width:25px;
                        height:25px;
                        border-radius:100%;
                        background-color: $color-02;

                        &::before{
                            position: absolute;
                            top:6px;
                            left:4px;
                            content:'';
                            display:block;
                            width:10px;
                            height:10px;
                            border-top:2px solid $color-05;
                            border-right:2px solid $color-05;
                            transform:rotate(45deg) ;
                        }
                    }
                    &:hover{
                        a{
                            background-color: $color-05;
                            transition:0.5s;
                            &::before{
                                border-top:2px solid $color-02;
                                border-right:2px solid $color-02;
                            }
                        }
                    }
                }
            }
        }
    }

    .text-area{
        margin:0 auto 70px;
        padding:0 3px;
        min-width:320px;
        max-width:505px;
        height:330px;
        text-align: center;
        color:$color-08-01;
        .title{
            margin:0 auto 30px;
            width:80%;
            min-width:310px;
            text-align: right;
            font-size: 32px;
            font-weight: 400;
            font-family: 'Happiness-Sans-Title';
            .br{
                display:block;
                text-align: left;
            }
        }
        .desc{
            margin:auto;
            width:80%;
            font-size: 14px;
            line-height:1.5;
            word-break:keep-all;
            font-family: 'NanumBarunGothic';
            &:nth-child(3){
                padding:20px 0 20px;
            }
            .br{
                display:block;
            }
            &:last-child{
                .br{
                    display:inline;
                }
            }
        }
    }
}

@media screen and (min-width:744px) and (max-width:1024px){
    .contents-top{
        // padding-top:0;
        // margin-bottom:100px;
        .slider-area{
            // position: relative;
            // margin-left:10%;
            // width:90%;
            border-radius:5px 5px 0 0;
            .img-group{
                .s-img{
                    height:530px;

                    &::before{
                        background-color: rgba(#B72834, .2);
                    }
                    .title{
                        top:35%;
                        left:8%;
                        font-size: 30px;
                        .bold{
                            font-size: 36px;
                        }
                    }
                }
            }
        }

        .news-area{
            .news-icon{
                top:-70px;
                left:20px;
                width:50px;
                height:50px;
                img{
                    padding-top:4px;
                }
            }
            .news-group{
                left:90px;
                top:-90px;
                padding:15px;
                display:block;
                max-width:650px;
                border-radius: 20px;

                .info-group{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    .text-group{
                        .title{
                            padding-bottom:3px;
                            font-size:18px;
                        }
                        .txt{
                            font-size:16px;
                        }
                    }
                    .btn-more{
                        a{
                            position: relative;
                            display:block;
                            width:40px;
                            height:40px;
                            border-radius:100%;
                            background-color: $color-02;

                            &::before{
                                position: absolute;
                                top:11px;
                                left:8px;
                                content:'';
                                display:block;
                                width:15px;
                                height:15px;
                                border-top:2px solid $color-05;
                                border-right:2px solid $color-05;
                                transform:rotate(45deg) ;
                            }
                        }
                        &:hover{
                            a{
                                background-color: $color-05;
                                &::before{
                                    border-top:2px solid $color-02;
                                    border-right:2px solid $color-02;
                                }
                            }
                        }
                    }
                }
            }
        }

        .text-area{
            padding:0;
            margin-bottom:250px;
            max-width:795px;
            .title{
                margin:0 auto 70px;
                width:80%;
                max-width:595px;
                text-align: right;
                font-size: 46px;
                .br{
                    text-align: left;
                }
            }
            .desc{
                font-size: 18px;
                line-height:2;
                font-family: 'NanumBarunGothic';
                
                &:nth-child(2){
                    .br{
                        display:inline;
                    }
                }
                
                &:last-child{
                    .br{
                        display:block;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1025px){
    .contents-top{
        .slider-area{
            position: relative;
            // margin-left:10%;
            // width:90%;
            border-radius:5px 5px 0 0;
            // z-index: -1;

            &::before{
                position: absolute;
                top:0;
                left:0;
                right:0;
                content:'';
                display:block;
                width:100%;
                height:100%;
                background-color: rgba(#2E200D, .5);
            }
            .img-group{
                max-width: 1250px;
                margin:auto;
                .s-img{
                    height:580px;

                    &::before{
                        display:none;
                        // background-color: rgba(#2E200D, .35);
                    }
                    .title{
                        top:35%;
                        left:8%;
                        font-size: 40px;
                        .bold{
                            font-size: 46px;
                        }
                    }
                }
            }
        }

        .news-area{
            max-width: 1250px;
            margin:0 auto 100px;

            .news-icon{
                display:none;
            }

            .news-group{
                right:10px;
                bottom:10px;
                padding:20px;
                width:75%;
                max-width:800px;
                border-radius: 20px;
                opacity:1;
                z-index:1;

                .info-group{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    .text-group{
                        .title{
                            font-size: 20px;
                            padding-bottom:5px;
                        }
                        .txt{
                            font-size: 18px;
                        }
                    }
                    .btn-more{
                        a{
                            position: relative;
                            display:block;
                            width:50px;
                            height:50px;
                            border-radius:100%;
                            background-color: $color-02;
                            &::before{
                                position: absolute;
                                top:13px;
                                left:10px;
                                content:'';
                                display:block;
                                width:20px;
                                height:20px;
                                border-top:3px solid $color-05;
                                border-right:3px solid $color-05;
                                transform:rotate(45deg);
                            }

                        }
                        &:hover{
                            a{
                                background-color: $color-05;
                                &::before{
                                    border-top:3px solid $color-02;
                                    border-right:3px solid $color-02;
                                }
                            }
                        }
                    }
                }
            }
        }

        .text-area{
            margin:0 auto 300px;
            padding:0;
            max-width:1025px;
            .title{
                margin:0 auto 70px;
                width:70%;
                text-align: right;
                font-size: 54px;
                .br{
                    text-align: left;
                }
            }
            .desc{
                font-size: 24px;
                line-height:2;
                &:nth-child(2){
                    .br{
                        display:inline;
                    }
                }
                &:last-child{
                    .br{
                        display:block;
                    }
                }
            }
        }
    }
}