.contents-bottom{
    margin-bottom:150px;
    .bus-group{
        position:sticky;
        top:50px;
        z-index:1;
        .bus-outline{
            .bus-top-box{
                .title{
                    text-align: center;
                    font-size:0;
                    font-weight: 600;
                }
            }
            .bus-middle-box{
                .feature-list{
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: center;
                    align-items: center;
                    color:$color-01;
                    background-color: $color-05;
                    
                    .feature-item{
                        padding:5px 0;
                        width:50%;
                        font-size: 14px;
                        opacity:0.6;

                        &.is-active{
                            font-weight: 700;
                            opacity:1;
                            background-color:$color-02;
                            color:$color-05;
                        }

                        .input-radio{
                            position: absolute;
                            
                            &:checked{
                                & + .label{
                                    // background-color: $color-02;
                                }
                            }
                        }
                        .label{
                            display:block;
                            line-height:25px;
                            text-align: center;
                        }
                    }
                    label{
                        cursor: pointer;
                        display:block;
                    }
                }
                .bus-driver{
                    display:none;
                }
            }
        }
    }
    .bus-stop-group{
        display:flex;
        flex-direction: column;
        gap:50px;
        .bus-content{
            height:50vh;
            .bus-feature-group{
                padding:5px;
                margin:auto;
                width:95%;
                transform:translateY(130px);
                .txt{
                    padding:10px;
                    border:1px dashed;
                }
                .feature{
                    display:flex;
                    flex-direction: column;
                    .feature-item{
                        margin-left:5px;
                        margin-bottom:10px;
                        font-size: 12px;
                        font-weight: 600;
                        
                        &.is-active{
                            font-weight: 700;
                            opacity:1;
                        }
                        &:last-child{
                            margin-bottom:0;
                        }
                        ul{
                            font-weight: 400;
                            li{
                                margin-left:40px;
                                word-break:keep-all;
                                list-style: disc;
                            }
                        }
                    }
                }

                .place,
                .service{
                    .feature-item{
                        ul{
                            display:flex;
                            flex-wrap: wrap;
                            li{
                                margin-left:15px;
                                list-style: none;
                            }
                        }
                    }
                }

            }           
        }
        img{
            width:100%;
        }
    }
}
@media screen and (min-width:744px) and (max-width:1024px){
    .contents-bottom{
        display:flex;
        flex-direction: column;
        gap:50px;
        .bus-group{
            position:static;
            background-color: transparent;
            .bus-outline{
                padding:0;
                .bus-top-box{
                    .title{
                        margin-bottom:20px;
                        font-size: 26px;
                    }
                }
                .bus-middle-box{
                    .feature-list{
                        position: relative;
                        margin:auto;
                        flex-direction: row;
                        align-items:flex-start;
                        gap:25px;
                        width:500px;
                        background-color: transparent;
                        &::before{
                            content:'';
                            position: absolute;
                            top:2px;
                            display:block;
                            width:600px;
                            height:58px;
                            background-color: white;
                            border:26px solid gray;
                            border-radius: 45px 30px;
                            z-index:-1;
                        }
                        &::after{
                            content:'';
                            position:absolute;
                            top:40%;
                            display:block;
                            width:720px;
                            height:26px;
                            background-color: gray;
                            transform:translateY(-50%);
                            z-index:-2;
                        }
                        .feature-item{
                            width:45%;
                            font-size: 18px;
                            opacity:1;
                            color:$color-05;

                            &.is-active{
                                font-weight: 400;
                                opacity:1;
                                background-color: transparent;
                            }

                            .input-radio{
                                position: static;
                                & + .label .label-icon{
                                    border-radius:100%;
                                }
                                &:checked + .label{
                                    font-weight:700;
                                }
                                &:checked + .label .label-icon{
                                    background-color:$color-04;
                                    border: none;
                                }
                            }
                            .label{
                                line-height:25px;
                                background-color: transparent;
                                text-align: center;
                                margin-left:15px;
                                display:flex;
                                flex-direction:column-reverse;
                                align-items:flex-start;
                                gap:5px;
                                
                                .label-txt{
                                //   padding-right:8px;
                                }
                                .label-icon{
                                  display:inline-flex;
                                  flex-shrink:0;
                                  width:20px;
                                  height:20px;
                                  background-color:$color-02;
                                }
                            }

                            
                        }
                    }
                    .bus-driver{
                        display:none;
                    }
                }
                .bus-lights{
                    display:none;
                    justify-content: space-between;
                    .bus-light{
                        width:55px;
                        height:55px;
                        border-radius:100%;
                        background-color:rgb(251, 251, 153);
                    }
                }
                .bus-tires{
                    display:none;
                    .bus-tire{
                        position: absolute;
                        bottom:-55px;
                        width:75px;
                        height:100px;
                        border-radius: 25px;
                        background-color: black;
                        z-index:-1;

                        &.left{
                            left:35px;
                        }
                        &.right{
                            right:35px;
                        }
                    }
                }
            }
        }
        .bus-stop-group{
            .bus-content{
                padding:0;
                display:none;
                height:auto;
                &:first-child{
                    padding:0;
                }
                &:nth-child(1){
                    display:block;
                }
                &.checked{
                    display:block;
                }
                .bus-feature-group{
                    margin:auto;
                    position: relative;
                    max-width:740px;
                    height:720px;
                    .txt{
                        position:absolute;
                        top:200px;
                        left:130px;
                        width:500px;
                        border:none;
                    }
                    .feature{

                        .feature-item{
                            font-size: 16px;                      
    
                            ul{
                                font-weight: 400;
                                li{
                                    margin-left:15px;
                                }
                            }
                        }
                    }
                }
            }
            img{
                display:none;
            }
        }
    }
}
@media screen and (min-width:1025px) {
    .contents-bottom{
        position: relative;
        padding:50px 0 60px;
        margin:auto;
        max-width: 1400px;
        display:flex;
        justify-content:center;
        gap:6%;
        // background: linear-gradient(90deg, darkgray 40.5%, white 40.5%);
        z-index:-2;
        .bus-group{
            display:block;
            position:sticky;
            top:45px;
            height:100%;

            .bus-outline{
                position: relative;
                padding:20px 0 30px;
                width:345px;
                border-radius:20px;
                background: linear-gradient($color-01 50%, $color-04 50%);

                &::before{
                    content:'';
                    position: absolute;
                    top:-40px;
                    left:50%;
                    display:block;
                    width:30%;
                    height:60px;
                    background: linear-gradient($color-01 35%, $color-04 35%);
                    border-radius:20px;
                    transform:translateX(-50%);
                    z-index:-1;
                }
                .bus-top-box,
                .bus-middle-box,
                .bus-lights{
                    margin:auto;
                    width:93%;
                    border-radius: 10px;
                }
                .bus-top-box{
                    text-align: center;
                    background-color:white;
                    .title{
                        font-size: 26px;
                        font-weight: 600;
                    }
                }
                .bus-middle-box{
                    position: relative;
                    margin:20px auto 40px;
                    padding-left:15px;
                    height:170px;
                    display:flex;
                    align-items: center;
                    overflow:hidden;
                    background-color:white;

                    .feature-list{
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap:0px;
                        color:$color-05;
                        background-color:transparent;
                        .feature-item{
                            width:100%;
                            font-size: 18px;
                            opacity:0.6;

                            &.is-active{
                                // font-weight: 700;
                                // opacity:1;
                                background-color: transparent;
                            }

                            .input-radio{
                                position: static;
                                
                                &:checked{
                                    & + .label{
                                        font-weight:inherit;
                                    }
                                }
                            }
                            .label{
                                display:block;
                                line-height:25px;
                                background-color: transparent;
                                text-align: left;
                            }
                        }
                    }
                    .bus-driver{
                        position: absolute;
                        right:10px;
                        bottom:0;
                        display:block;
                        width:100px;
                    }
                }
                .bus-lights{
                    display:flex;
                    justify-content: space-between;
                    .bus-light{
                        width:55px;
                        height:55px;
                        border-radius:100%;
                        background-color:rgb(251, 251, 153);
                    }
                }
                .bus-tires{
                    display:flex;
                    .bus-tire{
                        position: absolute;
                        bottom:-55px;
                        width:75px;
                        height:100px;
                        border-radius: 25px;
                        background-color: black;
                        z-index:-1;

                        &.left{
                            left:35px;
                        }
                        &.right{
                            right:35px;
                        }
                    }
                }
            }
        }

        .bus-stop-group{
            width:60%;
            max-width:600px;
            display:flex;
            flex-direction: column;
            align-items: center;
            .bus-content{
                padding-top:200px;
                position: relative;
                width:100%;
                height:auto;
                display:flex;
                align-items: flex-end;
                &:first-child{
                    padding-top:100px;
                    .bus-feature-group{
                        .txt{
                            top:260px;
                        }
                    }
                }
                .bus-feature-group{
                    padding:0;
                    width:100%;
                    height:610px;
                    transform:none;
                    .txt{
                        position: absolute;
                        top:360px;
                        left:32px;
                        padding:45px 0;
                        width:88%;
                        background-color: $color-01;
                        z-index:-1;
                        border:none;
                    }
                    .feature{
                        margin-left:60px;
                        width:85%;
                        justify-content:flex-start;
                        .feature-item{
                            width:32%;
                            font-weight: 600;
                            font-size: 16px;
                            ul{
                                display:block;
                                padding-left:30px;
                                font-weight: 400;
                                li{
                                    margin-left:0;
                                    list-style-type: square;
                                }
                            }
                        }
                    }

                    .place{
                        flex-direction: row;
                        .feature-item{
                            width:35%;

                            &:first-child{
                                width:27.5%;
                            }
                        }
                        
                    }
                    .service{
                        width:80%;
                    }
                    .service,
                    .citybus,
                    .qna{
                        margin-left:70px;
                        flex-direction:column;
                        gap:30px;
                        .feature-item{
                            width:100%;
                            ul{
                                padding-left:8px;
                                display:flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap:0;
                                li{
                                    margin-left:15px;
                                    margin-right:10px;
                                }
                            }
                        }
                    }
                }
            }
            img{
                display:none;
            }
        }
    }
}