.contents-bottom{
    display:block;
    .bus-group{
        display:none;
    }
    .bus-stop-group{
        display:flex;
        overflow-x:scroll;
        .bus-content{
            flex-shrink: 0;
            width:80%;
           .bus-feature-group{
               .txt{

               }

               .feature{
                   display:flex;
                   flex-direction: column;
                    .feature-item{
                        font-weight: 600;
                            ul{
                                padding-left:15px;
                                display:flex;
                                flex-wrap: wrap;
                                font-size: 14px;
                                font-weight: 400;
                                li{
                                    margin-right:5px;
                                    &:last-child{
                                        margin-right:0;
                                    }
                                }
                            }
                    }
               }
           }
        }
    }
}
@media screen and (min-width:744px) and (max-width:1024px){
    .contents-bottom{
        display:none;
        .bus-group{
            display:none;
        }
    }
}
@media screen and (min-width:1025px) {
    .contents-bottom{
        position: relative;
        padding:50px 0 60px;
        margin:auto;
        max-width: 1400px;
        display:flex;
        justify-content:center;
        gap:6%;
        background: linear-gradient(90deg, darkgray 40.5%, white 40.5%);
        z-index:-2;
        .bus-group{
            display:block;
            position:sticky;
            top:45px;
            height:100%;
            // .bus-top-box,
            // .bus-middle-box{
            //     border: 1px solid black;
            // }
            .bus-outline{
                position: relative;
                padding:20px 0 30px;
                width:345px;
                border-radius:20px;
                background: linear-gradient($color-01 50%, $color-04 50%);

                &::before{
                    content:'';
                    position: absolute;
                    top:-40px;
                    left:50%;
                    display:block;
                    width:30%;
                    height:60px;
                    // border: 1px solid black;
                    background: linear-gradient($color-01 35%, $color-04 35%);
                    border-radius:20px;
                    transform:translateX(-50%);
                    z-index:-1;
                }
                .bus-top-box,
                .bus-middle-box,
                .bus-lights{
                    margin:auto;
                    width:93%;
                    border-radius: 10px;
                }
                .bus-top-box{
                    text-align: center;
                    background-color:white;
                    .title{
                        font-size: 26px;
                        font-weight: 600;
                    }
                }
                .bus-middle-box{
                    position: relative;
                    margin:20px auto 40px;
                    padding-left:15px;
                    height:170px;
                    display:flex;
                    align-items: center;
                    overflow:hidden;
                    background-color:white;

                    .feature-list{
                        display:flex;
                        flex-direction: column;
                        gap:10px;
                        .feature-item{
                            font-size: 18px;
                            opacity:0.6;

                            &.is-active{
                                font-weight: 700;
                                opacity:1;
                            }
                        }
                    }
                    .bus-driver{
                        position: absolute;
                        right:10px;
                        bottom:0;
                        width:100px;
                    }
                }
                .bus-lights{
                    display:flex;
                    justify-content: space-between;
                    .bus-light{
                        width:55px;
                        height:55px;
                        border-radius:100%;
                        background-color:rgb(251, 251, 153);
                    }
                }
                .bus-tires{
                    display:flex;
                    .bus-tire{
                        position: absolute;
                        bottom:-55px;
                        width:75px;
                        height:100px;
                        border-radius: 25px;
                        background-color: black;
                        z-index:-1;

                        &.left{
                            left:35px;
                        }
                        &.right{
                            right:35px;
                        }
                    }
                }
            }
        }

        .bus-stop-group{
            padding-top:100px;
            width:60%;
            max-width:600px;
            flex-direction: column;
            align-items: center;
            gap:250px;
            overflow-x: hidden;
            .bus-content{
                position: relative;
                width:100%;
                height:610px;
                display:flex;
                align-items: flex-end;
                .bus-feature-group{
                    .txt{
                        position: absolute;
                        top:160px;
                        left:30px;
                        padding:45px 0;
                        width:90%;
                        background-color: $color-01;
                        z-index:-1;
                    }
                    .feature{
                        margin-left:65px;
                        width:80%;
                        flex-direction: row;
                        justify-content:flex-start;
                        .feature-item{
                            width:32%;
                            font-weight: 600;
                            ul{
                                display:block;
                                padding-left:40px;
                                font-size: 14px;
                                font-weight: 400;
                                li{
                                    list-style-type: square;
                                }
                            }
                        }
                    }

                    .service,
                    .citybus,
                    .qna{
                        margin-left:80px;
                        flex-direction:column;
                        gap:30px;
                        .feature-item{
                            width:100%;
                            ul{
                                padding-left:10px;
                                display:flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap:0;
                                li{
                                    margin-left:30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}