.contents-middle{
    min-width: 320px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap:60px;
    .program-area{
        width:100%;
        max-width:480px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius:65px 0 0 0;
        background-color: $color-03;

        .info-text-group{
            .title{
                padding:10px 0 5px;
                font-size: 30px;
                font-weight: 600;
            }
            .desc{
                font-size: 14px;
            }
            .price{
                display:none;
            }
        }

        .info-image-group{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            .image-index{
                padding:15px 0 5px;
                display:flex;
                justify-content: center;
                align-items: center;
                gap:10px;
                cursor: pointer;
    
                .icon{
                    display:inline-block;
                    font-size: 0;
                    width:15px;
                    height:15px;
                    border-radius: 100%;
                    background-color: $color-02;
    
                    &.is-active{
                        background-color: $color-05;
                    }
                }
            }
    
            .image-list{
                width:90%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow-x: hidden;
                border-radius: 35px 35px 0 0;
                .image-item{
                    flex-shrink: 0;
                    width:100%;
                    height:255px;
                    font-size: 0;
                    background-color: lightgray;
                    .title{
                        margin-left:18px;
                        padding-top:8px;
                        text-align: left;
                        font-size: 20px;
                        font-weight: 600;
                        .number{
                            display:block;
                            margin-right:3px;
                            font-size: 22px;
                        }
                    }
                }
            }
        }

        .btn-more{
            margin:15px auto;
            .more{
                display:block;
                width:100px;
                height:35px;
                line-height:35px;
                font-weight: 600;
                border-radius:17px;
                background-color: $color-02;
            }
        }
        &:last-child{
            align-self: flex-start;
            border-radius:0 65px 0 0;

            .info-image-group{
                .image-list{
                    .image-item{
                        .title{
                            display:none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:744px) and (max-width:1024px) {
    .contents-middle{
        margin:0 auto 170px;
        max-width: 900px;
        gap:180px;
        .program-area{
            width:100%;
            max-width: none;
            position: relative;
            flex-direction:row-reverse;
            justify-content: space-between;
            align-items: flex-end;
            border-radius:0;
            background-color: transparent;
    
            .info-text-group{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width:40%;
                background-color: $color-03;
                border-radius: 7px 7px 0 0;
                
                &.left{
                    left:0;
                    bottom:-80px;
                }
                &.right{
                    right:0;
                    bottom:-100px;
                }

                .title{
                    position: absolute;
                    height:350px;
                    writing-mode: vertical-rl;
                    font-size: 50px;
                    letter-spacing: 10px;
                    &.seoul{
                        top:-425px;
                        left:0;
                    }
                    &.special{
                        top:-380px;
                        right:0;
                    }
                }
                .desc{
                    padding-top:25px;
                    margin-bottom:20px;
                    font-size: 16px;
                    letter-spacing: -0.5;
                    .br{
                        display:block;
                    }
                }
                .price{
                    display: block;
                    margin-bottom: 10px;
                    font-size: 20px;
                    table{
                        border-spacing:10px 5px;
                        th{
                            text-align: center;
                        }
                    }
                }
            }
    
            .info-image-group{
                width:80%;
                display:flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                gap:10px;
                overflow: hidden;
                .image-index{
                    padding:0;
                    margin-left:180px;
                    gap:20px;
        
                    .icon{
                        display:inline-block;
                        width:40px;
                        height:40px;
                        line-height:40px;
                        font-size: 40px;
                        color:$color-02;
                        background-color: transparent;
                        &.is-active{
                            font-weight: 600;
                            color:$color-05;
                            background-color: transparent;
                        }
                    }
                }
        
                .image-list{
                    width:100%;
                    justify-content: flex-start;
                    border-radius:30px;
                    .image-item{
                        flex-shrink: 0;
                        width:100%;
                        height:420px;
                        background-color: gray;
                        .title{
                            margin-left:25px;
                            padding-top:10px;
                            font-size: 26px;
                            .number{
                                display:inline;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
    
            .btn-more{
                position: absolute;
                margin:0 auto;
                width:40%;
                &.left{
                    left:0;
                    bottom:-124px;
                }
                &.right{
                    right:0;
                    bottom:-144px;
                }
                .more{
                    display:block;
                    width:100%;
                    height:45px;
                    line-height:45px;
                    font-size: 18px;
                    border-radius: 0 0 7px 7px;
                    background-color: $color-03;
                }
            }

            &:last-child{
                margin:0;
                flex-direction:row;

                .info-image-group{
                    .image-index{
                        margin-left:0;
                        margin-right:180px;
                    }            
                }
            }
        }
    }
}
@media screen and (min-width:1025px){
    .contents-middle{
        max-width: 1250px;
        margin:auto;
        align-items: center;
        margin-bottom:170px;
        gap:180px;
        .program-area{
            max-width:none;
            position: relative;
            align-items: center;
            border-radius:0;
            background-color: transparent;
    
            .info-text-group{
                position: absolute;
                top: -50px;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                width:50%;
                
                .title{
                    font-size: 46px;
                    letter-spacing: 10px;
                }
                .desc{
                    margin-bottom:0;
                    font-size: 18px;
                    letter-spacing: -0.5;
                    .br{
                        display:inline;
                    }
                }
                .price{
                    display: none;
                    margin-bottom: 10px;
                    font-size: 22px;
                    table{
                        border-spacing:10px 5px;
                        th{
                            text-align: center;
                        }
                    }
                }
            }
    
            .info-image-group{
                width:100%;
                padding:75px 0 30px;
                display:flex;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;
                // gap:0;
                // overflow:visible;

                .image-index{
                    display:none;
                }
        
                .image-list{
                    width:100%;
                    justify-content:center;
                    flex-wrap: wrap;
                    gap:5px;
                    border-radius: 0;

                    .image-item{
                        position: relative;
                        width:45%;
                        padding-left:10px;
                        max-width: 680px;
                        height:370px;
                        border-radius: 10px;
                        background-color: gray;
                        overflow: hidden;
                        cursor: pointer;

                        .title{
                            font-size: 30px;
                            .number{
                                display:inline;
                                margin-right:5px;
                                font-size: 34px;
                                &::after{
                                    content:'';
                                    position: relative;
                                    top:2px;
                                    left:5px;
                                    display:inline-block;
                                    width:2px;
                                    height:25px;
                                    background-color: black;
                                }
                            }
                        }
                        .price{
                            position: absolute;
                            right:5px;
                            bottom:5px;
                            text-align: right;
                            font-size: 20px;
                            .br{
                                display:block;
                            }
                        }
                        &::before,
                        &::after{
                            content:'';
                            position: absolute;
                            display:inline-block;
                            width:100%;
                        }
                        
                        &:hover{
                            &::before{
                                top:0;
                                left:0;
                                right:0;
                                height:100%;
                                opacity:0.5;
                                background-color:white;
                                z-index:5;
                            }
                            &::after{
                                content:'자세히 보기';
                                top:50%;
                                left:0;
                                right:0;
                                transform: translateY(-5%);
                                font-size: 30px;
                                z-index:6;
                            }
                        }
                    }
                }
            }
    
            .btn-more{
                display:none;
            }

            &:last-child{
                border-radius: 0;
                align-self: center;
                .info-image-group{
                    .image-list{
                        .image-item{
                            flex-shrink: 0;
                            .title{
                                display:none;
                            }
                            .price{
                                display:none;
                            }
                        }
                    }
                }
            }
        }
    }
}