.footer-area{
    min-width: 320px;
    background-color: $color-04;
    
    .info-area{
        height:500px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color:$color-01;
        gap:7px;

        img{
            width:130px;
        }
        .name{
            font-size: 18px;
            font-weight: normal;
            font-family: 'SuseongDotum';
        }
        .address{
            margin-bottom:5px;
            font-size: 12px;
            font-family: 'NanumBarunGothic';
            letter-spacing: 2px;
        }

        .btn-move{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:10px;
            
            a{
                display:inline-block;
                width:200px;
                height:35px;
                line-height:35px;
                font-size: 14px;
                color:$color-01;
                border:1px solid $color-01;
                border-radius: 18px;
                font-family: 'NanumBarunGothic';
                letter-spacing: 1.5px;

                &:hover{
                    color:$color-04;
                    background-color: $color-01;
                    transition:0.5s;
                    &::after{
                        border-color: $color-04;
                    }
                }
            }
            .scroll-top{
                position: relative;
                &::after{
                    content:'';
                    position: absolute;
                    top:15px;
                    right:65px;
                    display:inline-block;
                    width:10px;
                    height:10px;
                    border-left:2px solid $color-01;
                    border-top:2px solid $color-01;
                    transform:rotate(45deg);
                }
            }

            .go-to-intropage{
                position: relative;

                &::after{
                    content:'';
                    position: absolute;
                    top:10px;
                    right:20px;
                    display:inline-block;
                    width:10px;
                    height:10px;
                    border-right:2px solid $color-01;
                    border-top:2px solid $color-01;
                    transform:rotate(45deg);
                }
            }
        }
    }
}

@media screen and(min-width:744px) and(max-width:1024px) {
    .footer-area{
        .info-area{
            height:520px;   
            img{
                width:230px;
            }
            .name{
                margin:5px 0;
                font-size: 22px;
            }
            .address{
                margin-bottom:20px;
                font-size: 14px;
            }
    
            .btn-move{
                a{
                    width:230px;
                }
                .scroll-top{
                    margin-bottom: 5px;
                    &::after{
                        top:15px;
                        right:80px;
                    }
                }
    
                .go-to-intropage{
                    &::after{
                        top:10px;
                        right:40px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1025px){
    .footer-area{
        .info-area{
            height:570px;   
            img{
                width:250px;
            }
            .name{
                margin:10px 0;
                font-size: 22px;
            }
            .address{
                margin-bottom:20px;
                font-size: 14px;
            }
    
            .btn-move{
                a{
                    width:230px;
                }
                .scroll-top{
                    margin-bottom: 5px;
                    &::after{
                        top:15px;
                        right:80px;
                    }
                }
    
                .go-to-intropage{
                    &::after{
                        top:10px;
                        right:40px;
                    }
                }
            }
        }
    }
}