.header-area{
    position:absolute;
    width:100%;
    min-width: 320px;
    height:50px;
    background-color: rgba(#2E200D, .3);
    z-index:5;
    .logo-group{
        float:left;
        padding:5px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .img-logo{
            width:55px;
        }
        .title{
            margin-left:7px;
            padding-top: 10px;
            font-size: 18px;
            letter-spacing: 1.5px;
            color:$color-01;
            font-family: 'LeferiPoint-BlackA';
        }
    }
    .bars{
        float:right;
        .menu-icon{
            position: relative;
            display:block;
            width:50px;
            height:50px;
            cursor: pointer;
            
            &::before,
            &::after{
                content:'';
                position: absolute;
                top:40%;
                right:7px;
                display:block;
                width:60%;
                height:3px;
                background-color: $color-01;
                border-radius: 3px;
                transition:0.5s;
            }
            &::after{
                top:60%;
            }

            &:hover{
                &::before,
                &::after{
                    background-color: $color-03;
                }
            }

            &.is-open{
                &::before{
                    top:50%;
                    transform:rotate(45deg);
                    transition:0.5s;
                }
                &::after{
                    top:50%;
                    transform:rotate(-45deg);
                    transition:0.5s;
                }
            }
        }
    }
    .menu-group{
        position: relative;
        top:50px;
        display:none;
        transition:0.5s;
        z-index: 10;
        .menu-list{
            position: absolute;
            top:5px;
            right:5px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            .menu-item{
                flex:1;
                flex-shrink: 0;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                font-weight: 400;
                font-family: 'LeferiPoint-BlackA';
                letter-spacing: 1.5px;
                a{
                    color:$color-01;
                }
                &:hover{
                    a{
                        color:$color-03;
                    }
                }
            }
        }
        &.is-open{
            display:block;
            transition:0.5s;
        }
    }
}

@media screen and (min-width:744px) and (max-width:1024px){
    .header-area{
        // position:static;
        display:flex;
        justify-content:space-between;
        // align-items: normal;
        height:80px;
        // background-color: rgba(#2E200D, .3);
        background-color: transparent;

        .logo-group{
            position: relative;
            float:none;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            width:140px;
            height:140px;
            // background-color: rgba(#2E200D, .4);
            background-color: rgba(#B72834, .2);
            border-radius:5px;
            z-index:1;

            &::before{
                content:'';
                position: absolute;
                top:80px;
                width:100%;
                height:80px;
                // background-color: rgba(#2E200D, .3);
                z-index:-1;
            }
            .img-logo{
                width:90%;
            }
            .title{
                margin-left:0;
                font-size: 14px;
            }
        }
        .bars{
            display:none;
        }

        .menu-group{
            position: static;
            float:none;
            margin-right: 10px;
            display:block;
            width:35%;
            min-width:300px;
            transition:none;    


            .menu-list{
                position: static;
                flex-direction: row;
                justify-content: space-between;
                gap:15px;

                .menu-item{
                    font-size: 18px;
                    text-align: center;
                    font-weight: 600;
                    a{
                        display:inline-block;
                        line-height:80px;
                    }
                    &:hover{
                        a{
                            color:$color-08;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1025px){
    .header-area{
        max-width: 1250px;
        left:50%;
        width:100%;
        height:100px;
        display:flex;
        justify-content:space-between;
        background-color: transparent;
        transform:translateX(-50%);
        .logo-group{
            float:none;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            width:180px;
            height:180px;
            background-color: rgba(#2E200D, .3);
            border-radius:5px;
            z-index:1;

            .img-logo{
                width:90%;
            }
            .title{
                margin-left:0;
                font-size: 20px;
            }
        }
        
        .bars{
            display:none;
        }
        .menu-group{
            position: static;
            float:none;
            margin-right: 10px;
            display:block;
            width:35%;
            max-width:500px;
            transition:none;


            .menu-list{
                position: static;
                flex-direction: row;
                justify-content: space-between;
                gap:15px;

                .menu-item{
                    font-size: 20px;
                    text-align: center;

                    a{
                        display:inline-block;
                        line-height:100px;
                    }
                    &:hover{
                        a{
                            color:$color-05;
                        }
                    }
                }
            }
        }
    }
}