@charset "UTF-8";
@font-face {
  font-family: 'SuseongDotum';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MapoAgape';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoAgapeA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

.hide,
.hidden {
  display: none;
}

input {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.img-group .s-img {
  background-image: url(../images/top_img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  animation-name: move;
  animation-duration: 25s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes move {
  50% {
    background-position: 80%;
  }
  100% {
    background-position: top center;
  }
}

.image-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#tour01 {
  background-image: url(../images/img_tour01.jpg);
}

#tour02 {
  background-image: url(../images/img_tour02.jpg);
}

#tour03 {
  background-image: url(../images/img_tour03.jpg);
}

#tour04 {
  background-image: url(../images/img_tour04.jpg);
}

#special01 {
  background-image: url(../images/img_special01.jpg);
}

#special02 {
  background-image: url(../images/img_special02.jpg);
}

#special03 {
  background-image: url(../images/img_special03.jpg);
}

#special04 {
  background-image: url(../images/img_special04.jpg);
}

@media screen and (max-width: 743px) {
  .bus-content {
    background-repeat: no-repeat;
    background-size: cover;
  }
  #feature1 {
    background-image: url(../images/img-palace_w.jpg);
    background-position: 15%;
  }
  #feature2 {
    background-image: url(../images/img-audio_w.jpg);
    background-position: bottom center;
  }
  #feature3 {
    background-image: url(../images/img-hitecker_w.jpg);
    background-position: 15%;
  }
  #feature4 {
    background-image: url(../images/img-trolly_w.jpg);
    background-position: center center;
  }
  .bus-feature-group {
    background-color: rgba(251, 250, 241, 0.65);
  }
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
  }
  #feature1 .bg-img {
    background-image: url(../images/img-palace_w.jpg);
  }
  #feature2 .bg-img {
    background-image: url(../images/img-audio_w.jpg);
    background-position: 25% 65%;
  }
  #feature3 .bg-img {
    background-image: url(../images/img-hitecker_w.jpg);
    background-position: 25% 65%;
  }
  #feature4 .bg-img {
    background-image: url(../images/img-trolly_w.jpg);
    background-position: 25% 65%;
  }
}

@media screen and (min-width: 1025px) {
  .contents-top .slider-area {
    background-image: url(../images/top_img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    animation-name: move;
    animation-duration: 25s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  .img-group .s-img {
    background-image: none;
  }
  .bus-content {
    background-image: none;
  }
  .bus-feature-group {
    background-image: url(../images/bus_station_blue.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.contents-bottom {
  min-width: 320px;
}

.contents-bottom .bus-group {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.contents-bottom .bus-group .bus-outline .bus-top-box .title {
  text-align: center;
  font-size: 0;
  font-weight: 600;
}

.contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #edf0e3;
  background-color: #252222;
}

.contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item {
  padding: 5px 0;
  width: 50%;
  font-size: 14px;
  opacity: 0.6;
}

.contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item.is-active {
  font-weight: 700;
  opacity: 1;
  background-color: rgba(237, 240, 227, 0.97);
  color: #252222;
}

.contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .input-radio {
  position: absolute;
}

.contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .label {
  display: block;
  line-height: 35px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'NanumBarunGothic';
}

.contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list label {
  cursor: pointer;
  display: block;
}

.contents-bottom .bus-group .bus-outline .bus-middle-box .bus-driver {
  display: none;
}

.contents-bottom .bus-stop-group {
  display: flex;
  flex-direction: column;
}

.contents-bottom .bus-stop-group .bus-content {
  position: relative;
  height: 450px;
}

.contents-bottom .bus-stop-group .bus-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group {
  padding: 5px;
  margin: auto;
  width: 95%;
  transform: translateY(150px);
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .txt {
  padding: 10px;
  border: 1px dashed;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .txt .bg-img {
  display: none;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature {
  display: flex;
  flex-direction: column;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item {
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'NanumBarunGothic';
  letter-spacing: 0.8px;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item.is-active {
  font-weight: 700;
  opacity: 1;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item:last-child {
  margin-bottom: 0;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item ul {
  font-weight: 400;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item ul li {
  margin-left: 40px;
  word-break: keep-all;
  list-style: disc;
  font-family: 'NanumBarunGothic';
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .place .feature-item ul,
.contents-bottom .bus-stop-group .bus-content .bus-feature-group .service .feature-item ul {
  display: flex;
  flex-wrap: wrap;
}

.contents-bottom .bus-stop-group .bus-content .bus-feature-group .place .feature-item ul li,
.contents-bottom .bus-stop-group .bus-content .bus-feature-group .service .feature-item ul li {
  margin-left: 15px;
  list-style: none;
}

.contents-bottom .bus-stop-group img {
  width: 100%;
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .contents-bottom {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .contents-bottom .bus-group {
    position: static;
    background-color: transparent;
  }
  .contents-bottom .bus-group .bus-outline {
    padding: 0;
  }
  .contents-bottom .bus-group .bus-outline .bus-top-box .title {
    display: none;
    margin-bottom: 20px;
    font-size: 26px;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list {
    position: relative;
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    width: 500px;
    background-color: transparent;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list::before {
    content: '';
    position: absolute;
    top: 2px;
    display: block;
    width: 600px;
    height: 59px;
    background-color: white;
    border: 26px solid gray;
    border-radius: 45px 30px;
    z-index: -1;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list::after {
    content: '';
    position: absolute;
    top: 40%;
    display: block;
    width: 720px;
    height: 26px;
    background-color: gray;
    transform: translateY(-50%);
    z-index: -2;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item {
    width: 45%;
    font-size: 18px;
    opacity: 1;
    color: #2e200d;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item.is-active {
    font-weight: 400;
    opacity: 1;
    background-color: transparent;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .input-radio {
    position: static;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .input-radio + .label .label-icon {
    border-radius: 100%;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .input-radio:checked + .label {
    font-weight: 700;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .input-radio:checked + .label .label-icon {
    background-color: #b72834;
    border: none;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .label {
    line-height: 25px;
    background-color: transparent;
    text-align: center;
    margin-left: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 5px;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .label .label-icon {
    display: inline-flex;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background-color: #e1dec8;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .bus-driver {
    display: none;
  }
  .contents-bottom .bus-group .bus-outline .bus-lights {
    display: none;
    justify-content: space-between;
  }
  .contents-bottom .bus-group .bus-outline .bus-lights .bus-light {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #fbfb99;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires {
    display: none;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires .bus-tire {
    position: absolute;
    bottom: -55px;
    width: 75px;
    height: 100px;
    border-radius: 25px;
    background-color: black;
    z-index: -1;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires .bus-tire.left {
    left: 35px;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires .bus-tire.right {
    right: 35px;
  }
  .contents-bottom .bus-stop-group {
    display: block;
  }
  .contents-bottom .bus-stop-group .bus-content {
    position: relative;
    padding: 0;
    margin: auto;
    display: none;
    width: 100%;
    max-width: 810px;
    height: 650px;
  }
  .contents-bottom .bus-stop-group .bus-content::before {
    display: none;
  }
  .contents-bottom .bus-stop-group .bus-content:first-child {
    padding: 0;
  }
  .contents-bottom .bus-stop-group .bus-content:nth-child(1) {
    display: block;
  }
  .contents-bottom .bus-stop-group .bus-content.checked {
    display: block;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group {
    margin: auto;
    transform: translateY(0);
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    border: none;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .txt .bg-img {
    display: block;
    width: 90%;
    height: 350px;
    border-radius: 3px;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .txt .feature {
    padding: 20px;
    width: 90%;
    background-color: #fbfaf1;
    border-radius: 3px;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item ul {
    padding-top: 7px;
    font-weight: 400;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item ul li {
    margin-left: 35px;
    margin-bottom: 7px;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .place .feature-item ul li,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .service .feature-item ul li {
    margin-left: 20px;
  }
  .contents-bottom .bus-stop-group img {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .contents-bottom {
    position: relative;
    padding: 50px 0 60px;
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    gap: 6%;
    z-index: -2;
  }
  .contents-bottom .bus-group {
    display: block;
    position: sticky;
    top: 45px;
    height: 100%;
  }
  .contents-bottom .bus-group .bus-outline {
    position: relative;
    padding: 20px 0 30px;
    width: 345px;
    border-radius: 20px;
    background: linear-gradient(#fbfaf1 50%, #b72834 50%);
  }
  .contents-bottom .bus-group .bus-outline::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    display: block;
    width: 30%;
    height: 60px;
    background: linear-gradient(#fbfaf1 35%, #b72834 35%);
    border-radius: 20px;
    transform: translateX(-50%);
    z-index: -1;
  }
  .contents-bottom .bus-group .bus-outline .bus-top-box,
  .contents-bottom .bus-group .bus-outline .bus-middle-box,
  .contents-bottom .bus-group .bus-outline .bus-lights {
    margin: auto;
    width: 93%;
    border-radius: 10px;
  }
  .contents-bottom .bus-group .bus-outline .bus-top-box {
    text-align: center;
    background-color: white;
  }
  .contents-bottom .bus-group .bus-outline .bus-top-box .title {
    padding: 5px 0;
    font-size: 26px;
    font-weight: 600;
    font-family: 'NanumBarunGothic';
    letter-spacing: 2px;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box {
    position: relative;
    margin: 20px auto 40px;
    padding-left: 15px;
    height: 170px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    color: #2e200d;
    background-color: transparent;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item {
    width: 100%;
    font-size: 18px;
    opacity: 0.6;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item.is-active {
    background-color: transparent;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .input-radio {
    position: static;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .input-radio:checked + .label {
    font-weight: inherit;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .feature-list .feature-item .label {
    display: block;
    line-height: 25px;
    background-color: transparent;
    text-align: left;
  }
  .contents-bottom .bus-group .bus-outline .bus-middle-box .bus-driver {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: block;
    width: 100px;
  }
  .contents-bottom .bus-group .bus-outline .bus-lights {
    display: flex;
    justify-content: space-between;
  }
  .contents-bottom .bus-group .bus-outline .bus-lights .bus-light {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #fbfb99;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires {
    display: flex;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires .bus-tire {
    position: absolute;
    bottom: -55px;
    width: 75px;
    height: 100px;
    border-radius: 25px;
    background-color: black;
    z-index: -1;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires .bus-tire.left {
    left: 35px;
  }
  .contents-bottom .bus-group .bus-outline .bus-tires .bus-tire.right {
    right: 35px;
  }
  .contents-bottom .bus-stop-group {
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contents-bottom .bus-stop-group .bus-content {
    padding-top: 200px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
  }
  .contents-bottom .bus-stop-group .bus-content::before {
    display: none;
  }
  .contents-bottom .bus-stop-group .bus-content:first-child {
    padding-top: 100px;
  }
  .contents-bottom .bus-stop-group .bus-content:first-child .bus-feature-group .txt {
    top: 260px;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group {
    padding: 0;
    width: 100%;
    height: 610px;
    transform: none;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .txt {
    position: absolute;
    top: 360px;
    left: 32px;
    padding: 45px 0;
    width: 88%;
    background-color: #fbfaf1;
    z-index: -1;
    border: none;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature {
    margin-left: 60px;
    width: 85%;
    justify-content: flex-start;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item {
    width: 32%;
    font-weight: 600;
    font-size: 16px;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item ul {
    display: block;
    padding-left: 30px;
    font-weight: 400;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .feature .feature-item ul li {
    margin-left: 0;
    list-style-type: square;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .place {
    flex-direction: row;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .place .feature-item {
    width: 35%;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .place .feature-item:first-child {
    width: 27.5%;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .service {
    width: 80%;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .service,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .citybus,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .qna {
    margin-left: 70px;
    flex-direction: column;
    gap: 30px;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .service .feature-item,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .citybus .feature-item,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .qna .feature-item {
    width: 100%;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .service .feature-item ul,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .citybus .feature-item ul,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .qna .feature-item ul {
    padding-left: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
  }
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .service .feature-item ul li,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .citybus .feature-item ul li,
  .contents-bottom .bus-stop-group .bus-content .bus-feature-group .qna .feature-item ul li {
    margin-left: 15px;
    margin-right: 10px;
  }
  .contents-bottom .bus-stop-group img {
    display: none;
  }
}

.contents-middle {
  margin-bottom: 100px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 150px;
}

.contents-middle .program-area {
  position: relative;
  padding-top: 20px;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 30px 0 0 0;
  background-color: rgba(205, 209, 190, 0.5);
}

.contents-middle .program-area .info-text-group {
  font-family: 'NanumBarunGothic';
}

.contents-middle .program-area .info-text-group .title {
  position: absolute;
  top: -40px;
  font-size: 40px;
  font-weight: 600;
  color: rgba(37, 34, 34, 0.9);
  letter-spacing: 5px;
  font-family: 'Happiness-Sans-Title';
}

.contents-middle .program-area .info-text-group .title::before {
  position: absolute;
  top: 35px;
  display: block;
  font-size: 54px;
  color: #574240;
  font-family: 'MapoAgape';
  font-style: italic;
  opacity: 0.19;
  z-index: -1;
}

@media screen and (max-width: 743px) {
  .contents-middle .program-area .info-text-group .title.seoul {
    right: 5px;
  }
  .contents-middle .program-area .info-text-group .title.seoul::before {
    content: 'Seoul';
  }
  .contents-middle .program-area .info-text-group .title.special {
    left: 5px;
  }
  .contents-middle .program-area .info-text-group .title.special::before {
    content: 'Special';
  }
}

.contents-middle .program-area .info-text-group .desc {
  color: #252222;
  font-size: 14px;
  letter-spacing: 1px;
}

.contents-middle .program-area .info-text-group .price {
  display: none;
}

.contents-middle .program-area .info-image-group {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contents-middle .program-area .info-image-group .image-index {
  padding: 15px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.contents-middle .program-area .info-image-group .image-index .icon {
  display: inline-block;
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(251, 250, 241, 0.65);
  border: 1px dotted rgba(46, 32, 13, 0.3);
}

.contents-middle .program-area .info-image-group .image-index .icon.is-active {
  background-color: #2e200d;
}

.contents-middle .program-area .info-image-group .image-list {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  border-radius: 15px 15px 1px 1px;
}

.contents-middle .program-area .info-image-group .image-list .image-item {
  flex-shrink: 0;
  width: 100%;
  height: 270px;
  font-size: 0;
}

.contents-middle .program-area .info-image-group .image-list .image-item .title {
  margin-left: 18px;
  padding-top: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #252222;
  text-shadow: 0 0 3px #fbfaf1, 0 0 6px #fbfaf1;
}

.contents-middle .program-area .info-image-group .image-list .image-item .title .number {
  display: block;
  margin-right: 3px;
  font-size: 18px;
}

.contents-middle .program-area .btn-more {
  margin: auto;
  width: 100%;
}

.contents-middle .program-area .btn-more .more {
  padding: 15px;
  display: block;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'NanumBarunGothic';
}

.contents-middle .program-area .btn-more .more:hover {
  background-color: rgba(205, 209, 190, 0.5);
  transition: 0.5s;
}

.contents-middle .program-area:last-child {
  align-self: flex-start;
  border-radius: 0 30px 0 0;
}

.contents-middle .program-area:last-child .info-image-group .image-list .image-item .title {
  display: none;
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .contents-middle {
    margin: 0 auto 250px;
    padding: 0 5px;
    max-width: 900px;
    gap: 180px;
  }
  .contents-middle .program-area {
    width: 100%;
    max-width: none;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 0;
    background-color: transparent;
  }
  .contents-middle .program-area .info-text-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: #edf0e3;
    border-radius: 7px 7px 0 0;
  }
  .contents-middle .program-area .info-text-group.left {
    bottom: -50px;
    left: 0;
  }
  .contents-middle .program-area .info-text-group.right {
    bottom: -70px;
    right: 0;
  }
  .contents-middle .program-area .info-text-group .title {
    position: absolute;
    height: 350px;
    writing-mode: vertical-rl;
    font-size: 54px;
    letter-spacing: 2px;
  }
  .contents-middle .program-area .info-text-group .title::before {
    top: -75px;
    font-size: 100px;
    font-style: italic;
    writing-mode: horizontal-tb;
    z-index: 1;
  }
  .contents-middle .program-area .info-text-group .title.seoul {
    top: -405px;
    left: 5px;
  }
  .contents-middle .program-area .info-text-group .title.seoul::before {
    content: 'Seoul';
    left: 40px;
  }
  .contents-middle .program-area .info-text-group .title.special {
    top: -380px;
    right: 5px;
  }
  .contents-middle .program-area .info-text-group .title.special::before {
    content: 'Special';
    right: 40px;
    top: -95px;
  }
  .contents-middle .program-area .info-text-group .desc {
    padding-top: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: -0.5;
  }
  .contents-middle .program-area .info-text-group .desc .br {
    display: block;
  }
  .contents-middle .program-area .info-text-group .price {
    display: block;
    color: #252222;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .contents-middle .program-area .info-text-group .price table {
    border-spacing: 10px 5px;
  }
  .contents-middle .program-area .info-text-group .price table th {
    text-align: center;
  }
  .contents-middle .program-area .info-image-group {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
  }
  .contents-middle .program-area .info-image-group .image-index {
    padding: 0;
    margin-left: 180px;
    gap: 35px;
  }
  .contents-middle .program-area .info-image-group .image-index .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    font-family: 'MapoAgape';
    font-style: italic;
    color: #edf0e3;
    background-color: transparent;
    border: none;
  }
  .contents-middle .program-area .info-image-group .image-index .icon.is-active {
    font-weight: 600;
    color: #2e200d;
    background-color: transparent;
  }
  .contents-middle .program-area .info-image-group .image-list {
    width: 100%;
    justify-content: flex-start;
    border-radius: 20px;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item {
    flex-shrink: 0;
    width: 100%;
    height: 420px;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item .title {
    margin-left: 25px;
    padding-top: 10px;
    font-size: 26px;
    font-family: 'Happiness-Sans-Title';
  }
  .contents-middle .program-area .info-image-group .image-list .image-item .title .number {
    display: inline;
    font-size: 30px;
  }
  .contents-middle .program-area .btn-more {
    position: absolute;
    margin: 0 auto;
    width: 35%;
  }
  .contents-middle .program-area .btn-more.left {
    left: 0;
    bottom: -95px;
  }
  .contents-middle .program-area .btn-more.right {
    right: 0;
    bottom: -115px;
  }
  .contents-middle .program-area .btn-more .more {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 15px;
    font-size: 18px;
    border-radius: 0 0 7px 7px;
    background-color: #edf0e3;
  }
  .contents-middle .program-area .btn-more .more:hover {
    background-color: rgba(169, 173, 155, 0.5);
    transition: 0.5s;
  }
  .contents-middle .program-area:last-child {
    margin: 0;
    flex-direction: row;
  }
  .contents-middle .program-area:last-child .info-image-group .image-index {
    margin-left: 0;
    margin-right: 180px;
  }
}

@media screen and (min-width: 1025px) {
  .contents-middle {
    max-width: 1250px;
    margin: auto;
    align-items: center;
    margin-bottom: 170px;
    gap: 180px;
  }
  .contents-middle .program-area {
    max-width: none;
    position: relative;
    align-items: center;
    border-radius: 0;
    background-color: transparent;
  }
  .contents-middle .program-area .info-text-group {
    position: static;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .contents-middle .program-area .info-text-group .title {
    position: static;
    font-size: 60px;
    letter-spacing: 10px;
  }
  .contents-middle .program-area .info-text-group .desc {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: -0.5;
  }
  .contents-middle .program-area .info-text-group .desc .br {
    display: inline;
  }
  .contents-middle .program-area .info-text-group .price {
    display: none;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .contents-middle .program-area .info-text-group .price table {
    border-spacing: 10px 5px;
  }
  .contents-middle .program-area .info-text-group .price table th {
    text-align: center;
  }
  .contents-middle .program-area .info-image-group {
    width: 100%;
    padding: 30px 0;
    display: flex;
  }
  .contents-middle .program-area .info-image-group .image-index {
    display: none;
  }
  .contents-middle .program-area .info-image-group .image-list {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 0;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item {
    position: relative;
    width: 45%;
    padding-left: 10px;
    max-width: 680px;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item .title {
    margin-left: 5px;
    font-size: 24px;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item .title .number {
    display: inline;
    margin-right: 5px;
    font-size: 28px;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item .price {
    position: absolute;
    right: 15px;
    bottom: 15px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 3px #fbfaf1, 0 0 6px #fbfaf1;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item .price .br {
    display: block;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item::before, .contents-middle .program-area .info-image-group .image-list .image-item::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item:hover::before {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0.5;
    background-color: white;
    z-index: 5;
  }
  .contents-middle .program-area .info-image-group .image-list .image-item:hover::after {
    content: '자세히 보기';
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-5%);
    font-size: 30px;
    z-index: 6;
  }
  .contents-middle .program-area .btn-more {
    display: none;
  }
  .contents-middle .program-area:last-child {
    border-radius: 0;
    align-self: center;
  }
  .contents-middle .program-area:last-child .info-image-group .image-list .image-item {
    flex-shrink: 0;
  }
  .contents-middle .program-area:last-child .info-image-group .image-list .image-item .title {
    display: none;
  }
  .contents-middle .program-area:last-child .info-image-group .image-list .image-item .price {
    display: none;
  }
}

.contents-top {
  min-width: 320px;
  margin-bottom: 100px;
}

.contents-top .slider-area {
  overflow: hidden;
}

.contents-top .slider-area .img-group .s-img {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 370px;
}

.contents-top .slider-area .img-group .s-img::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 32, 13, 0.5);
}

.contents-top .slider-area .img-group .s-img .title {
  position: absolute;
  top: 200px;
  left: 5%;
  display: flex;
  flex-direction: column;
  color: #fbfaf1;
  font-size: 20px;
  font-family: 'LeferiPoint-BlackA';
}

.contents-top .slider-area .img-group .s-img .title .bold {
  font-size: 24px;
  font-weight: 600;
  font-family: 'SuseongDotum';
}

.contents-top .slider-area .img-group .s-img .title .br {
  display: block;
}

.contents-top .news-area {
  margin-bottom: 100px;
  position: relative;
}

.contents-top .news-area .news-icon {
  position: absolute;
  top: -50px;
  left: 15px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #2e200d;
  text-align: center;
  box-shadow: 0 0 7px black;
  opacity: .9;
  cursor: pointer;
}

.contents-top .news-area .news-icon img {
  padding-top: 3px;
  width: 85%;
}

.contents-top .news-area .news-icon:hover {
  background-color: #b72834;
  opacity: .9;
  transition: 0.5s;
}

.contents-top .news-area .news-group {
  position: absolute;
  padding: 10px;
  width: 78%;
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.83);
  border-radius: 10px;
  box-shadow: 0 0 6px black;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

@media screen and (max-width: 743px) {
  .contents-top .news-area .news-group {
    top: -80px;
    left: 65px;
  }
}

.contents-top .news-area .news-group.is-open {
  opacity: 1;
  transition: 1s;
  z-index: 1;
}

.contents-top .news-area .news-group .info-group {
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents-top .news-area .news-group .info-group .text-group {
  font-family: 'NanumBarunGothic';
  letter-spacing: 1.5px;
}

.contents-top .news-area .news-group .info-group .text-group .title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.contents-top .news-area .news-group .info-group .text-group .txt {
  font-size: 12px;
  word-break: keep-all;
}

.contents-top .news-area .news-group .info-group .btn-more a {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #e1dec8;
}

.contents-top .news-area .news-group .info-group .btn-more a::before {
  position: absolute;
  top: 6px;
  left: 4px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #2e200d;
  border-right: 2px solid #2e200d;
  transform: rotate(45deg);
}

.contents-top .news-area .news-group .info-group .btn-more:hover a {
  background-color: #2e200d;
  transition: 0.5s;
}

.contents-top .news-area .news-group .info-group .btn-more:hover a::before {
  border-top: 2px solid #e1dec8;
  border-right: 2px solid #e1dec8;
}

.contents-top .text-area {
  margin: 0 auto 70px;
  padding: 0 3px;
  min-width: 320px;
  max-width: 505px;
  height: 330px;
  text-align: center;
  color: rgba(37, 34, 34, 0.9);
}

.contents-top .text-area .title {
  margin: 0 auto 30px;
  width: 80%;
  min-width: 310px;
  text-align: right;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Happiness-Sans-Title';
}

.contents-top .text-area .title .br {
  display: block;
  text-align: left;
}

.contents-top .text-area .desc {
  margin: auto;
  width: 80%;
  font-size: 14px;
  line-height: 1.5;
  word-break: keep-all;
  font-family: 'NanumBarunGothic';
}

.contents-top .text-area .desc:nth-child(3) {
  padding: 20px 0 20px;
}

.contents-top .text-area .desc .br {
  display: block;
}

.contents-top .text-area .desc:last-child .br {
  display: inline;
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .contents-top .slider-area {
    border-radius: 5px 5px 0 0;
  }
  .contents-top .slider-area .img-group .s-img {
    height: 530px;
  }
  .contents-top .slider-area .img-group .s-img::before {
    background-color: rgba(183, 40, 52, 0.2);
  }
  .contents-top .slider-area .img-group .s-img .title {
    top: 35%;
    left: 8%;
    font-size: 30px;
  }
  .contents-top .slider-area .img-group .s-img .title .bold {
    font-size: 36px;
  }
  .contents-top .news-area .news-icon {
    top: -70px;
    left: 20px;
    width: 50px;
    height: 50px;
  }
  .contents-top .news-area .news-icon img {
    padding-top: 4px;
  }
  .contents-top .news-area .news-group {
    left: 90px;
    top: -90px;
    padding: 15px;
    display: block;
    max-width: 650px;
    border-radius: 20px;
  }
  .contents-top .news-area .news-group .info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contents-top .news-area .news-group .info-group .text-group .title {
    padding-bottom: 3px;
    font-size: 18px;
  }
  .contents-top .news-area .news-group .info-group .text-group .txt {
    font-size: 16px;
  }
  .contents-top .news-area .news-group .info-group .btn-more a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #e1dec8;
  }
  .contents-top .news-area .news-group .info-group .btn-more a::before {
    position: absolute;
    top: 11px;
    left: 8px;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #2e200d;
    border-right: 2px solid #2e200d;
    transform: rotate(45deg);
  }
  .contents-top .news-area .news-group .info-group .btn-more:hover a {
    background-color: #2e200d;
  }
  .contents-top .news-area .news-group .info-group .btn-more:hover a::before {
    border-top: 2px solid #e1dec8;
    border-right: 2px solid #e1dec8;
  }
  .contents-top .text-area {
    padding: 0;
    margin-bottom: 250px;
    max-width: 795px;
  }
  .contents-top .text-area .title {
    margin: 0 auto 70px;
    width: 80%;
    max-width: 595px;
    text-align: right;
    font-size: 46px;
  }
  .contents-top .text-area .title .br {
    text-align: left;
  }
  .contents-top .text-area .desc {
    font-size: 18px;
    line-height: 2;
    font-family: 'NanumBarunGothic';
  }
  .contents-top .text-area .desc:nth-child(2) .br {
    display: inline;
  }
  .contents-top .text-area .desc:last-child .br {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .contents-top .slider-area {
    position: relative;
    border-radius: 5px 5px 0 0;
  }
  .contents-top .slider-area::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 32, 13, 0.5);
  }
  .contents-top .slider-area .img-group {
    max-width: 1250px;
    margin: auto;
  }
  .contents-top .slider-area .img-group .s-img {
    height: 580px;
  }
  .contents-top .slider-area .img-group .s-img::before {
    display: none;
  }
  .contents-top .slider-area .img-group .s-img .title {
    top: 35%;
    left: 8%;
    font-size: 40px;
  }
  .contents-top .slider-area .img-group .s-img .title .bold {
    font-size: 46px;
  }
  .contents-top .news-area {
    max-width: 1250px;
    margin: 0 auto 100px;
  }
  .contents-top .news-area .news-icon {
    display: none;
  }
  .contents-top .news-area .news-group {
    right: 10px;
    bottom: 10px;
    padding: 20px;
    width: 75%;
    max-width: 800px;
    border-radius: 20px;
    opacity: 1;
    z-index: 1;
  }
  .contents-top .news-area .news-group .info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contents-top .news-area .news-group .info-group .text-group .title {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .contents-top .news-area .news-group .info-group .text-group .txt {
    font-size: 18px;
  }
  .contents-top .news-area .news-group .info-group .btn-more a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #e1dec8;
  }
  .contents-top .news-area .news-group .info-group .btn-more a::before {
    position: absolute;
    top: 13px;
    left: 10px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 3px solid #2e200d;
    border-right: 3px solid #2e200d;
    transform: rotate(45deg);
  }
  .contents-top .news-area .news-group .info-group .btn-more:hover a {
    background-color: #2e200d;
  }
  .contents-top .news-area .news-group .info-group .btn-more:hover a::before {
    border-top: 3px solid #e1dec8;
    border-right: 3px solid #e1dec8;
  }
  .contents-top .text-area {
    margin: 0 auto 300px;
    padding: 0;
    max-width: 1025px;
  }
  .contents-top .text-area .title {
    margin: 0 auto 70px;
    width: 70%;
    text-align: right;
    font-size: 54px;
  }
  .contents-top .text-area .title .br {
    text-align: left;
  }
  .contents-top .text-area .desc {
    font-size: 24px;
    line-height: 2;
  }
  .contents-top .text-area .desc:nth-child(2) .br {
    display: inline;
  }
  .contents-top .text-area .desc:last-child .br {
    display: block;
  }
}

.footer-area {
  min-width: 320px;
  background-color: #b72834;
}

.footer-area .info-area {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fbfaf1;
  gap: 7px;
}

.footer-area .info-area img {
  width: 130px;
}

.footer-area .info-area .name {
  font-size: 18px;
  font-weight: normal;
  font-family: 'SuseongDotum';
}

.footer-area .info-area .address {
  margin-bottom: 5px;
  font-size: 12px;
  font-family: 'NanumBarunGothic';
  letter-spacing: 2px;
}

.footer-area .info-area .btn-move {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-area .info-area .btn-move a {
  display: inline-block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #fbfaf1;
  border: 1px solid #fbfaf1;
  border-radius: 18px;
  font-family: 'NanumBarunGothic';
  letter-spacing: 1.5px;
}

.footer-area .info-area .btn-move a:hover {
  color: #b72834;
  background-color: #fbfaf1;
  transition: 0.5s;
}

.footer-area .info-area .btn-move a:hover::after {
  border-color: #b72834;
}

.footer-area .info-area .btn-move .scroll-top {
  position: relative;
}

.footer-area .info-area .btn-move .scroll-top::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 65px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fbfaf1;
  border-top: 2px solid #fbfaf1;
  transform: rotate(45deg);
}

.footer-area .info-area .btn-move .go-to-intropage {
  position: relative;
}

.footer-area .info-area .btn-move .go-to-intropage::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #fbfaf1;
  border-top: 2px solid #fbfaf1;
  transform: rotate(45deg);
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .footer-area .info-area {
    height: 520px;
  }
  .footer-area .info-area img {
    width: 230px;
  }
  .footer-area .info-area .name {
    margin: 5px 0;
    font-size: 22px;
  }
  .footer-area .info-area .address {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .footer-area .info-area .btn-move a {
    width: 230px;
  }
  .footer-area .info-area .btn-move .scroll-top {
    margin-bottom: 5px;
  }
  .footer-area .info-area .btn-move .scroll-top::after {
    top: 15px;
    right: 80px;
  }
  .footer-area .info-area .btn-move .go-to-intropage::after {
    top: 10px;
    right: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .footer-area .info-area {
    height: 570px;
  }
  .footer-area .info-area img {
    width: 250px;
  }
  .footer-area .info-area .name {
    margin: 10px 0;
    font-size: 22px;
  }
  .footer-area .info-area .address {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .footer-area .info-area .btn-move a {
    width: 230px;
  }
  .footer-area .info-area .btn-move .scroll-top {
    margin-bottom: 5px;
  }
  .footer-area .info-area .btn-move .scroll-top::after {
    top: 15px;
    right: 80px;
  }
  .footer-area .info-area .btn-move .go-to-intropage::after {
    top: 10px;
    right: 40px;
  }
}

.header-area {
  position: absolute;
  width: 100%;
  min-width: 320px;
  height: 50px;
  background-color: rgba(46, 32, 13, 0.3);
  z-index: 5;
}

.header-area .logo-group {
  float: left;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-area .logo-group .img-logo {
  width: 55px;
}

.header-area .logo-group .title {
  margin-left: 7px;
  padding-top: 10px;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #fbfaf1;
  font-family: 'LeferiPoint-BlackA';
}

.header-area .bars {
  float: right;
}

.header-area .bars .menu-icon {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header-area .bars .menu-icon::before, .header-area .bars .menu-icon::after {
  content: '';
  position: absolute;
  top: 40%;
  right: 7px;
  display: block;
  width: 60%;
  height: 3px;
  background-color: #fbfaf1;
  border-radius: 3px;
  transition: 0.5s;
}

.header-area .bars .menu-icon::after {
  top: 60%;
}

.header-area .bars .menu-icon:hover::before, .header-area .bars .menu-icon:hover::after {
  background-color: #d6b86c;
}

.header-area .bars .menu-icon.is-open::before {
  top: 50%;
  transform: rotate(45deg);
  transition: 0.5s;
}

.header-area .bars .menu-icon.is-open::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: 0.5s;
}

.header-area .menu-group {
  position: relative;
  top: 50px;
  display: none;
  transition: 0.5s;
  z-index: 10;
}

.header-area .menu-group .menu-list {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-area .menu-group .menu-list .menu-item {
  flex: 1;
  flex-shrink: 0;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'LeferiPoint-BlackA';
  letter-spacing: 1.5px;
}

.header-area .menu-group .menu-list .menu-item a {
  color: #fbfaf1;
}

.header-area .menu-group .menu-list .menu-item:hover a {
  color: #d6b86c;
}

.header-area .menu-group.is-open {
  display: block;
  transition: 0.5s;
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .header-area {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: transparent;
  }
  .header-area .logo-group {
    position: relative;
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 140px;
    height: 140px;
    background-color: rgba(183, 40, 52, 0.2);
    border-radius: 5px;
    z-index: 1;
  }
  .header-area .logo-group::before {
    content: '';
    position: absolute;
    top: 80px;
    width: 100%;
    height: 80px;
    z-index: -1;
  }
  .header-area .logo-group .img-logo {
    width: 90%;
  }
  .header-area .logo-group .title {
    margin-left: 0;
    font-size: 14px;
  }
  .header-area .bars {
    display: none;
  }
  .header-area .menu-group {
    position: static;
    float: none;
    margin-right: 10px;
    display: block;
    width: 35%;
    min-width: 300px;
    transition: none;
  }
  .header-area .menu-group .menu-list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  .header-area .menu-group .menu-list .menu-item {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }
  .header-area .menu-group .menu-list .menu-item a {
    display: inline-block;
    line-height: 80px;
  }
  .header-area .menu-group .menu-list .menu-item:hover a {
    color: #252222;
  }
}

@media screen and (min-width: 1025px) {
  .header-area {
    max-width: 1250px;
    left: 50%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    transform: translateX(-50%);
  }
  .header-area .logo-group {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;
    height: 180px;
    background-color: rgba(46, 32, 13, 0.3);
    border-radius: 5px;
    z-index: 1;
  }
  .header-area .logo-group .img-logo {
    width: 90%;
  }
  .header-area .logo-group .title {
    margin-left: 0;
    font-size: 20px;
  }
  .header-area .bars {
    display: none;
  }
  .header-area .menu-group {
    position: static;
    float: none;
    margin-right: 10px;
    display: block;
    width: 35%;
    max-width: 500px;
    transition: none;
  }
  .header-area .menu-group .menu-list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  .header-area .menu-group .menu-list .menu-item {
    font-size: 20px;
    text-align: center;
  }
  .header-area .menu-group .menu-list .menu-item a {
    display: inline-block;
    line-height: 100px;
  }
  .header-area .menu-group .menu-list .menu-item:hover a {
    color: #2e200d;
  }
}
